/* Container principal da tela de exclusão */
.delete-container {
    background-color: #0D3B66;
    color: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    border: 2px solid #0D3B66;
    max-width: 700px;
    margin: 2rem auto;
    box-shadow: 0 0 20px #0D3B66;
    margin-top: 150px;
  }
  
  /* Título centralizado da tela */
  .delete-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 24px;
    color: #ff0000;
  }
  
  /* Cartão contendo as informações do cliente */
  .product-card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem;
    background-color: #102e4a;
    border-radius: 12px;
    border: 1px solid #0D3B66;
  }
  
  /* Estilo base das informações do cliente */
  .product-info {
    font-size: 16px;
    line-height: 1.4;
  }
  
  /* Cor verde para status Ativo */
  .ativo {
    color: #4caf50;
    font-weight: bold;
  }
  .inativo {
    color: #ff0000;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .button-container button {
    width: 150px;
    height: 55px;
    font-size: 1.1rem;
    padding: 10px 24px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  button[color="primary"] {
    background-color: #ff0000;
    color: #fff;
    box-shadow: 0 4px 12px rgba(56, 142, 60, 0.4);
  }
  
  button[color="warn"] {
    background-color: #0044ff;
    color: #fff;
    box-shadow: 0 4px 12px rgba(198, 40, 40, 0.4);
  }
  
  button:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
  }
  
  /* Responsivo */
  @media (max-width: 640px) {
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  
    .button-container button {
      width: 100%;
      max-width: 300px;
    }
  }
  