<div class="delete-container">
    <h2 class="delete-title">🗑️ Confirmar Exclusão do Cliente</h2>
  
    <!-- Card com informações do cliente -->
    <div class="product-card">
      <div class="product-info"><strong>Nome:</strong> {{ cliente.cliNome }}</div>
      <div class="product-info"><strong>CPF:</strong> {{ cliente.cliCpf }}</div>
      <div class="product-info"><strong>Data de Nascimento:</strong> {{ cliente.cliDataNascimento | date:'shortDate' }}</div>
      <div class="product-info"><strong>Telefone:</strong> {{ cliente.cliTelefone }}</div>
      <div class="product-info"><strong>Email:</strong> {{ cliente.cliEmail }}</div>
      <div class="product-info"><strong>Rua:</strong> {{ cliente.cliRua }}</div>
      <div class="product-info"><strong>Número:</strong> {{ cliente.cliNumero }}</div>
      <div class="product-info"><strong>Bairro:</strong> {{ cliente.cliBairro }}</div>
      <div class="product-info"><strong>Cidade:</strong> {{ cliente.cliCidade }}</div>
      <div class="product-info"><strong>Estado:</strong> {{ cliente.cliEstado }}</div>
      <div class="product-info"><strong>CEP:</strong> {{ cliente.cliCep }}</div>
      <div class="product-info"><strong>Status:</strong>
  
      </div>
    </div>
  
    <!-- Botões -->
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="excluir()">Excluir</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </div>
  </div>
  