<header class="header">
  <div class="header-content">

    <!-- LADO ESQUERDO: Hambúrguer -->
    <div class="left-spacer left-group">
      <button
        class="hamburger"
        [class.open]="menuOpen"
        (click)="onToggleMenu()"
        aria-label="Abrir ou fechar menu"
        [attr.aria-expanded]="menuOpen">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>

    <!-- CENTRO: LOGO + Texto abaixo -->
    <div class="logo-container">
      <img src="assets/img/GAMEON.png" alt="Logo" class="logo-img" />
    </div>

  </div>
</header>
