<!-- ============ CONTAINER DOS BOTÕES DO ESTOQUE ============ -->
<div class="estoque-btns-container">
  <!-- Botão "Movimentar Estoque" -->
  <button 
    class="expanded-btn btn-movimentar-estoque"
    [routerLink]="'/estoque/update/:estoqueId'">
   Gerenciar Estoque
  </button>

  <!-- Botão "Relatórios de Estoque" -->
  <button 
    class="expanded-btn btn-relatorios-estoque"
    [routerLink]="'/estoque/read/:estoqueId'">
    Relatórios de Estoque
  </button>
</div>



<!-- ============ PAINÉIS DO DASHBOARD ============ -->
<div class="dashboard-panels">
  <!-- Painel de Itens Cadastrados -->
  <div class="panel-info">
    <i class="material-icons">inventory</i>
    <h2>Itens Cadastrados</h2>
    <p>{{ totalItens }}</p>
  </div>

  <!-- Painel de Itens Baixo Estoque (em vermelho escuro) -->
  <div class="panel-info baixo-estoque">
    <i class="material-icons">warning</i>
    <h2>Itens Baixo Estoque</h2>
    <p>{{ baixoEstoque }}</p>
  </div>

  <!-- Painel de Última Atualização -->
  <div class="panel-info">
    <i class="material-icons">update</i>
    <h2>Última Atualização</h2>
    <p>{{ ultimaAtualizacao }}</p>
  </div>
</div>

