<div class="estoque-container">
    <h2>Gerenciamento de Estoque</h2>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">

  
    <div class="lista-produtos">
   
      <input type="search" id="buscaProduto" placeholder="Buscar produto..." />
  
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Fornecedor</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody id="produtosTableBody">
          

            <button class="btn-editar">
                <span class="material-icons">edit</span>
              </button>
              
              <button class="btn-deletar">
                <span class="material-icons">delete</span>
              </button>
          <!-- Mais produtos aqui -->
        </tbody>
      </table>
    </div>
  </div>
  