<div class="home-container">
  <!-- Card de boas-vindas -->
  <mat-card class="welcome-card">
    <div class="welcome-title">
      <img src="assets/img/logogamesemnome.png" width="70" alt="Logo" class="logo-img" />
      <span>Bem-vindo ao Sistema GameON</span>
    </div>
    <div class="welcome-text">
Transforme a gestão do seu negócio! Controle produtos, clientes, 
fornecedores e vendas de forma ágil e inteligente, simplifique processos
 e decida rápido!  </div>
  </mat-card>

  <!-- Card de estatísticas -->
  <mat-card class="stats-card">
    <div class="stats-title">
      <mat-icon class="title-icon">bar_chart</mat-icon>
      Estatísticas Rápidas
    </div>
    <div class="stats-container">
      <div class="stat-item">
        <mat-icon class="stat-icon inventory">inventory_2</mat-icon>
        <div class="stat-info">
          <div class="stat-value">1.240</div>
          <div class="stat-label">Produtos em Estoque</div>
        </div>
      </div>
      <div class="stat-item">
        <mat-icon class="stat-icon clients">groups</mat-icon>
        <div class="stat-info">
          <div class="stat-value">980</div>
          <div class="stat-label">Clientes Cadastrados</div>
        </div>
      </div>
      <div class="stat-item">
        <mat-icon class="stat-icon revenue">attach_money</mat-icon>
        <div class="stat-info">
          <div class="stat-value">R$ 58.450,00</div>
          <div class="stat-label">Faturamento do Mês</div>
        </div>
      </div>
      <div class="stat-item">
        <mat-icon class="stat-icon suppliers">local_shipping</mat-icon>
        <div class="stat-info">
          <div class="stat-value">24</div>
          <div class="stat-label">Fornecedores Ativos</div>
        </div>
      </div>

      <div class="stat-item">
        <mat-icon class="stat-icon sell">sell</mat-icon>
        <div class="stat-info">
          <div class="stat-value">24</div>
          <div class="stat-label">Vendas Concluidas</div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
