<!-- Componente de cartão que envolve todo o formulário --> 
<mat-card class="product-card">

  <!-- Título do formulário -->
  <div class="centralizado">
    <mat-card class="product-card">
      <mat-card-title>ADICIONE SEU PRODUTO </mat-card-title>
    </mat-card>
  </div>

  <!-- Formulário com layout moderno usando Flexbox -->
  <form class="product-form">

    <!-- Campo: Nome do Produto -->
    <mat-form-field appearance="outline" class="full-width white-input">
      <mat-label>Nome do Produto </mat-label> 
      <input matInput placeholder="Ex: Teclado Gamer" [(ngModel)]="product.proNome" name="proNome" required>
    </mat-form-field>
    
    <!-- Campo: Código de Barras -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código de Barras</mat-label>
      <input matInput placeholder="Ex: 7891234567890" [(ngModel)]="product.proCodigoBarras" name="proCodigoBarras" required>
    </mat-form-field>
    
<!-- Categoria -->
<mat-form-field appearance="outline" class="full-width custom-select">
  <mat-label>Categoria</mat-label>
  <mat-select [(ngModel)]="product.proCategoria" name="proCategoria" required>

    <mat-option value="teclado">
      <mat-icon class="option-icon">keyboard</mat-icon>
      Teclado
    </mat-option>

    <mat-option value="mouse">
      <mat-icon class="option-icon">mouse</mat-icon>
      Mouse
    </mat-option>

    <mat-option value="monitor">
      <mat-icon class="option-icon">tv</mat-icon> 
      Monitor
    </mat-option>

    <mat-option value="headset">
      <mat-icon class="option-icon">headset</mat-icon>
      Headset
    </mat-option>
 
    <mat-option value="mousepad">
      <img src="assets/img/mousepad.png" width="20" style="margin-right: 8px;" class="option-img" />
      MousePad
    </mat-option>

    <mat-option value="cadeira">
      <img src="assets/img/cadeira-gamer.png"  width="20" style="margin-right: 8px;" class="option-img" />
      Cadeira Gamer
    </mat-option>

    <mat-option value="Console">
      <img src="assets/img/console-de-videogame.png" width="20" style="margin-right: 8px;" class="option-img" />
      Console
    </mat-option>

    <mat-option value="Controle">
      <img src="assets/img/controle-de-video-game.png" width="20" style="margin-right: 8px;" class="option-img" />
      Controle
    </mat-option>

    <mat-option value="acessorios">
      <img src="assets/img/outra.png" width="20" style="margin-right: 8px;" class="option-img" />
      Acessórios
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- Marca -->
<mat-form-field appearance="outline" class="full-width custom-select">
  <mat-label>Marca</mat-label>
  <mat-select [(ngModel)]="product.proMarca" name="proMarca" required>

    <mat-option value="razer">
      <img src="assets/img/razer.png" width="20" style="margin-right: 8px;"class="option-img" />
      Razer
    </mat-option>

    <mat-option value="hyperx">
      <img src="assets/img/hyperx.png" width="20" style="margin-right: 8px;" class="option-img" />
      HyperX
    </mat-option>
   
    <mat-option value="nzxt">
      <img src="assets/img/NZXT.png" width="20" style="margin-right: 8px;" class="option-img" />
      NZXT
    </mat-option>
    
    <mat-option value="Dell">
      <img src="assets/img/Dell.png" width="20" style="margin-right: 8px;" class="option-img" />
      Dell
    </mat-option>

    <mat-option value="Lian Li">
      <img src="assets/img/LianLi.png" width="20" style="margin-right: 8px;" class="option-img" />
      Lian Li
    </mat-option>

    <mat-option value="logitech">
      <img src="assets/img/LogiTech.png"width="20" style="margin-right: 8px;"  class="option-img" />
      Logitech
    </mat-option>

    <mat-option value="steelseries">
      <img src="assets/img/steelseries.png"width="20" style="margin-right: 8px;" class="option-img" />
      SteelSeries
    </mat-option>

    <mat-option value="reddragon">
      <img src="assets/img/redragons.png"width="20" style="margin-right: 8px;" class="option-img" />
      RedDragon
    </mat-option>

    <mat-option value="outra">
      <img src="assets/img/outra.png"width="20" style="margin-right: 8px;" class="option-img" />
      Outra Marca
    </mat-option>

  </mat-select>
</mat-form-field>


    <!-- Campo: Estoque -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estoque</mat-label>
      <input matInput type="number" placeholder="Ex: 100" [(ngModel)]="product.proEstoque" name="proEstoque" required>
    </mat-form-field>
  
    <!-- Campo: Preço de Custo -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Preço de Custo (R$)</mat-label>
      <input matInput type="number" step="0.01" placeholder="Ex: 150.00" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto" required>
    </mat-form-field>

    <!-- Campo: Preço de Venda -->
    <mat-form-field appearance="outline" class="full-awidth">
      <mat-label>Preço de Venda (R$)</mat-label>
      <input matInput type="number" step="0.01" placeholder="Ex: 250.00" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda" required>
    </mat-form-field>

    <!-- Botões de ação -->
    <div class="button-container">
      <button color="primary">Salvar</button>

      <button mat-raised-button color="warn" (click)="cancel()">
        Cancelar
      </button>
      <button mat-raised-button color="white" (click)="limpar()">
        Limpar
      </button>
      
      
    </div>
    

  </form>
</mat-card> 
 