<mat-toolbar class="footer">
    <span>
           <!-- Container para ícones sociais, posicionado à direita -->
    <div class="social-icons">
      <!-- Ícone do WhatsApp com link -->
      <a href="https://wa.me/43991582314" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>

      <!-- Ícone do Instagram com link -->
      <a href="https://instagram.com/marcolionn" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Ícone do LinkedIn com link -->
      <a href="https://linkedin.com/in/seunome" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

    </span>
</mat-toolbar>
