/* ===== Footer - Rodapé ===== */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 24px;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 45px;
}

.footer > span {
  font-size: 1rem;
  font-weight: 500;
}

.social-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.social-icons a {
  color: #cccccc;
  font-size: 22px;
  margin: 0 10px;
  transition: color 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.social-icons a.whatsapp:hover {
  color: #25D366;
}

.social-icons a.instagram:hover {
  color: #d81337;
}

.social-icons a.linkedin:hover {
  color: #0077B5;
}

.social-icons a::after {
  content: attr(aria-label);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  font-size: 13px;
  z-index: 100;
}

.social-icons a:hover::after {
  opacity: 1;
}
