<mat-toolbar class="footer">
  <div class="social-icons">

    <a href="https://wa.me/43991582314" class="whatsapp" target="_blank">
      <i class="fab fa-whatsapp icon"></i>
      <span class="custom-tooltip">WhatsApp</span>
    </a>

    <a href="https://instagram.com/marcolionn" class="instagram" target="_blank">
      <i class="fab fa-instagram icon"></i>
      <span class="custom-tooltip">Instagram</span>
    </a>

    <a href="https://linkedin.com/in/seunome" class="linkedin" target="_blank">
      <i class="fab fa-linkedin icons"></i>
      <span class="custom-tooltip">LinkedIn</span>
    </a>

  </div>
</mat-toolbar>
