<mat-toolbar class="footer">
  <span>
    <!-- Ícones sociais -->
    <div class="social-icons">
      <a href="https://wa.me/43991582314" class="whatsapp" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>

      <a href="https://instagram.com/marcolionn" class="instagram" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="https://linkedin.com/in/seunome" class="linkedin" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </span>
</mat-toolbar>
