<!-- CONTAINER PRINCIPAL DOS BOTÕES DO MÓDULO DE FORNECEDORES -->
<div class="fornecedores-btns-container">

  <!-- Botão "Novo Fornecedor" -->
  <button class="expanded-btn btn-novo-fornecedor"
    [routerLink]="'/fornecedores/create'">
    Novo Fornecedor
  </button>

  <!-- Botão "Relatórios de Fornecedores" -->
  <button class="expanded-btn btn-relatorios-fornecedores"
    [routerLink]="'/fornecedores/update/:fornId'">
    Relatórios de Fornecedores
  </button>

<!-- Botão "Relatórios de Fornecedores" -->
<button class="expanded-btn btn-gerenciamento-fornecedores"
[routerLink]="'/fornecedores/read/:fornId'">
Gerenciamento de Fornecedores
</button>

</div>

<!-- PAINÉIS DE RESUMO PARA DADOS GERAIS DOS FORNECEDORES -->
<div class="dashboard-panels">
  <div class="panel-info">
    <i class="material-icons">group</i>
    <h2>Total de Fornecedores</h2>
    <p>{{ totalFornecedores }}</p> <!-- Vai ser preenchido pelo backend -->
  </div>

  <div class="panel-info2">
    <i class="material-icons">verified_user</i>
    <h2>Ativos</h2>
    <p>{{ fornecedoresAtivos }}</p> <!-- Vai ser preenchido pelo backend -->
  </div>

  <div class="panel-info-inativo">
    <i class="material-icons">remove_circle</i>
    <h2>Inativos</h2>
    <p>{{ fornecedoresInativos }}</p> <!-- Vai ser preenchido pelo backend -->
  </div>
</div>

