<div class="delete-container">
  <h2 class="delete-title">🗑️ Confirmar Exclusão da Forma de Pagamento</h2>

  <div class="product-card">
    <!-- Descrição -->
    <div class="product-info">
      <strong>Descrição:</strong> {{ item.fpgDescricao || 'Não informado' }}
    </div>

    <!-- Tipo de Pagamento -->
    <div class="product-info">
      <strong>Tipo de Pagamento:</strong> {{ item.fpgTipo || 'Não informado' }}
    </div>

    <!-- Parcelamento -->
    <div class="product-info" *ngIf="item.fpgNumMaxParcelas">
      <strong>Parcelado:</strong>
      {{ item.fpgNumMaxParcelas === 'sim' ? 'Sim' : 'Não' }}
    </div>

    <!-- Número de Parcelas -->
    <div class="product-info" *ngIf="item.fpgPermiteParcelamento && item.fpgNumMaxParcelas === 'sim'">
      <strong>Número de Parcelas:</strong> {{ item.fpgPermiteParcelamento }}
    </div>

    <!-- Taxa Adicional -->
    <div class="product-info" *ngIf="item.fpgTaxaAdicional">
      <strong>Aplica Taxas:</strong> {{ item.fpgTaxaAdicional === 'sim' ? 'Sim' : 'Não' }}
    </div>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="excluir()">Excluir</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
  </div>
</div>
