<mat-card class="client-card">

    <mat-card-title>Novo Agendamento</mat-card-title>
  
    <form class="client-form" #formAgendamento="ngForm">
  
      <!-- Cliente -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Cliente</mat-label>
        <input matInput placeholder="Nome do cliente" [(ngModel)]="agendamento.cliente" name="cliente" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Data do Agendamento</mat-label>
        <input 
          matInput 
          [matDatepicker]="pickerData" 
          placeholder="DD/MM/AAAA" 
          [(ngModel)]="agendamento.data" 
          name="data" 
          required
          [max]="maxDate"  
        >
        <mat-datepicker-toggle matSuffix [for]="pickerData"></mat-datepicker-toggle>
        <mat-datepicker #pickerData></mat-datepicker>
      </mat-form-field>
      
  
      <!-- Hora do Agendamento -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Hora do Agendamento</mat-label>
        <input matInput type="time" [(ngModel)]="agendamento.hora" name="hora" required>
      </mat-form-field>
  
      <!-- Serviço -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Serviço</mat-label>
        <mat-select [(ngModel)]="agendamento.servico" name="servico" required>
          <mat-option value="Consulta">Consulta</mat-option>
          <mat-option value="Manutenção">Manutenção</mat-option>
          <mat-option value="Reparo">Reparo</mat-option>
          <mat-option value="Outros">Outros</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Status -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="agendamento.status" name="status" required>
          <mat-option value="Agendado">Agendado</mat-option>
          <mat-option value="Confirmado">Confirmado</mat-option>
          <mat-option value="Cancelado">Cancelado</mat-option>
          <mat-option value="Concluído">Concluído</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Observações -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Observações</mat-label>
        <textarea matInput rows="4" placeholder="Observações adicionais" [(ngModel)]="agendamento.observacoes" name="observacoes"></textarea>
      </mat-form-field>
  
      <!-- Botões -->
      <div class="button-container">
        <button mat-raised-button color="primary" [disabled]="formAgendamento.invalid" (click)="salvar()">Salvar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button type="button" (click)="limpar()">Limpar</button>
      </div>
  
    </form>
  
  </mat-card>
  