/* Reutilizando estilo igual do cliente */

.client-card {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    margin: 130px auto 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .client-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .full-width {
    flex: 1 1 100%;
  }
  
  .half-width {
    flex: 1 1 45%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    min-width: 120px;
  }
  
  mat-form-field {
    background-color: #fff;
    border-radius: 6px;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  