<mat-card>
  <mat-card-title>Excluir Produto</mat-card-title>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput [value]="product?.proNome" disabled>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Preço de custo (R$)</mat-label>
    <input matInput [value]="product?.proPrecoCusto | currency:'BRL':'symbol':'1.2-2'" disabled>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Preço de venda (R$)</mat-label>
    <input matInput [value]="product?.proPrecoVenda | currency:'BRL':'symbol':'1.2-2'" disabled>
  </mat-form-field>

  <!-- Botões -->
  <div class="button-group">
    <button mat-raised-button color="warn" (click)="deleteProduct()">Excluir</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
