<!-- Container com flexbox para centralizar e expandir os botões -->
<div class="novo-produto-container">

  <!-- Botão "Novo Produto" -->
  <button 
    mat-raised-button
    class="novo-produto-btn expanded-btn btn-novo-produto"
    [routerLink]="'/products/create'">
    Novo Produto
  </button>

  <!-- Botão "Gerenciamento de Produtos" -->
  <button 
    mat-raised-button
    class="big-button expanded-btn btn-gerenciamento-produtos"
    [routerLink]=" '/products/read/:proId'">
    Gerenciamento de Produtos
  </button>

  <!-- Botão "Relatórios de Produtos" -->
  <button 
    mat-raised-button
    class="big-button expanded-btn btn-relatorios-produtos"
    [routerLink]="'/products/update/:fornId'">
    Relatórios de Produtos
  </button>
  
  <!-- Painéis de Resumo -->
  <div class="dashboard-panels">
    <mat-card class="panel-info">
      <i class="material-icons">sports_esports</i>
      <h2>Total de Produtos</h2>
      <p>{{ totalProdutos }}</p>
    </mat-card>

    <mat-card class="panel-info">
      <i class="material-icons">inventory_2</i>
      <h2>Estoque Crítico</h2>
      <p>{{ estoqueCritico }} produtos</p>
    </mat-card>

    <mat-card class="panel-info">
      <i class="material-icons">trending_up</i>
      <h2>Mais Vendido</h2>
      <p>{{ maisVendido }}</p>
    </mat-card>
  </div> <!-- Fim dashboard-panels -->

 