clientes/update/:cliId<!-- ============ CONTAINER DOS BOTÕES DE AÇÃO ============ -->
<div class="cliente-btns-container">
  <!-- Botão para novo cliente -->
  <button class="expanded-btn btn-adicionar-cliente" 
    [routerLink]="'/cliente/create'">
    Novo Cliente
  </button>

  <!-- Botão para GERENCIAR CLIENTE -->
  <button class="expanded-btn btn-exportar-cliente"    
   [routerLink]="'/cliente/read/:cliId'">
    Gerenciar Clientes
  </button>


</div>

<!-- ============ PAINÉIS DE INFORMAÇÕES DOS CLIENTES ============ -->
<div class="dashboard-panels">
  <!-- Total de clientes cadastrados -->
  <div class="panel-info">
    <i class="material-icons">people</i>
    <h2>Total de Clientes</h2>
    <p>{{ totalClientes }}</p>
  </div>


</div>
