<!-- Container dos botões CRUD de Agendamento -->
<div class="novo-agendamento-container">

    <!-- Botão "Novo Agendamento" -->
    <button
      mat-raised-button
      class="expanded-btn btn-novo-agendamento"
      [routerLink]="'/agendamentos/create'">
      Novo Agendamento
    </button>
  
    <!-- Botão "Gerenciar Agendamentos" -->
    <button
      mat-raised-button
      class="expanded-btn btn-gerenciamento-agendamento"
      [routerLink]="'/agendamentos/read'">
      Gerenciamento de Agendamentos
    </button>
  
    <!-- Botão "Excluir Agendamento" -->
    <button
      mat-raised-button
      class="expanded-btn btn-excluir-agendamento"
      [routerLink]="'/agendamentos/delete/123'">
      Excluir Agendamento
    </button>
  
    <!-- Botão "Relatórios de Agendamentos" -->
    <button
      mat-raised-button
      class="expanded-btn btn-relatorios-agendamento"
      [routerLink]="'/agendamentos/relatorios'">
      Relatórios de Agendamentos
    </button>
  </div>
  
  <!-- Painéis de Resumo -->
  <div class="dashboard-panels">
    <mat-card class="panel-info">
      <i class="material-icons">event_available</i>
      <h2>Total de Agendamentos</h2>
      <p>{{ totalAgendamentos }}</p>
    </mat-card>
  
    <mat-card class="panel-info">
      <i class="material-icons">schedule</i>
      <h2>Agendamentos Pendentes</h2>
      <p>{{ agendamentosPendentes }}</p>
    </mat-card>
  
    <mat-card class="panel-info">
      <i class="material-icons">done_all</i>
      <h2>Agendamentos Concluídos</h2>
      <p>{{ agendamentosConcluidos }}</p>
    </mat-card>
  </div>
  