<!-- ============ BOTÕES DE PAGAMENTOS ============ -->
<div class="pagamentos-btns-container">

  <button class="expanded-btn btn-add-pagamento"
   [routerLink]="'/fpagamentos/create/'">
     Adicionar Pagamento
  </button>

  <button class="expanded-btn btn-gerenciamentos-pagamento" [routerLink]="'/fpagamentos/read/:fpgId'">
    Gerenciar Pagamentos
  </button>

</div>

<!-- ============ DASHBOARD DE RESUMO ============ -->
<div class="dashboard-panels">
  <div class="panel-info">
    <i class="material-icons">payments</i>
    <h2>Total Pagamentos</h2>
    <p>{{ totalPagamentos }}</p>
  </div>

  <div class="panel-info baixo-estoque">
    <i class="material-icons">warning</i>
    <h2>Pagamentos Atrasados</h2>
    <p>{{ pagamentosAtrasados }}</p>
  </div>

  <div class="panel-info">
    <i class="material-icons">update</i>
    <h2>Última Atualização</h2>
    <p>{{ ultimaAtualizacao }}</p>
  </div>
</div>
