<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="fornecedores" class="gamer-table" matSort>

    <!-- Coluna: ID do Fornecedor -->
    <ng-container matColumnDef="forId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.forId }}</td>
    </ng-container>

    <!-- Coluna: Nome -->
    <ng-container matColumnDef="forNome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{ row.forNome }}</td>
    </ng-container>

    <!-- Coluna: CNPJ -->
    <ng-container matColumnDef="forCnpj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
      <td mat-cell *matCellDef="let row">{{ row.forCnpj }}</td>
    </ng-container>

    <!-- Coluna: Email -->
    <ng-container matColumnDef="forEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.forEmail }}</td>
    </ng-container>

    <!-- Coluna: Telefone -->
    <ng-container matColumnDef="forTelefone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
      <td mat-cell *matCellDef="let row">{{ row.forTelefone }}</td>
    </ng-container>

    <!-- Coluna: Status -->
    <ng-container matColumnDef="forStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{ row.forStatus }}</td>
    </ng-container>

    <!-- Coluna Ações -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <div class="btn-actions-container">
          <button class="btn-acao editar" [routerLink]="'/fornecedores/update/:fornId'">
            <i class="material-icons">edit</i> Editar
          </button>
          <button class="btn-acao remover" [routerLink]="'/fornecedores/delete/:fornId'">
            <i class="material-icons">delete</i> Remover
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
